@media(max-width:767px){
    header #icon{
        width: 30px;
        display: flex;
        margin-right: 10px;
 
    }
    body{
        width: 100%;
        overflow-x: hidden;
    }
    header .navlist ul{
        display: block;
        flex-direction: column;
        position: absolute;
        top: 38px;
        left: 120px;
        transition: left ease 1s;
    }
    header .navlist{
        position: relative;
        
    }
    header .navlist.mob-togle ul{
        top: 38px;
       
        left: -80px;

    }
    section .section-aboutcontainer{
        margin-left: 3px;
        margin-right: 30px;
    }
    .aboutinfo p{
        margin-left: 20px;
    }
}