@media(max-width:767px){
    header input{
        display: flex;
 
    }
    header .navmenu .navlist{
       position: relative;
       top: 28px; 
       transform: rotateX() ;
       transition: transform ease-in-out 4s;
    }
    header .navmenu .navlist.mob-togle ul {
       position: absolute;
        display: flex;
        flex-direction: column;
        transform: rotate(0deg);
        transition: transform ease-in-out 4s;
    }
}