/* css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --peragraph:800;
  --textStyle:italic
    
    
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
/* header */
header .navcontainer{
    width: 100%;
    background-color: rgb(56, 134, 202);
}

header .navcontainer img{
    width: 45px;
    padding-left: 10px;
   
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .navmenu .navlist ul{
    display: flex;
    
}
header .navmenu .navlist ul li{
    margin: 8px 5px;
    padding: 3px 19px;
    color: white;
    background-color: rgb(25, 105, 175);
    border-radius: 6px;
    transition: all ease-in-out 1s;
}
header .navmenu .navlist ul li:hover{
    color: rgb(0, 119, 255);
    background-color: rgb(200, 241, 252);
   
}
header #icon{
    display: none;
}
header .container img{
    width: 100%;
    height: 100%;
   
}
header .container{
    position: relative;
    z-index: -999;
}
header .hederinfo{
   position: absolute;
   top: 50%;
   left: 50%;
   right: 21%;
}
header .hederinfo p{
   font-weight: var(--peragraph);
   font-style: var(--textStyle);
}
/* About section */
section .section-container{
    display: flex;
    position: relative;
    
}
section .bg-img{
    width: 100%;
    height: 50vh;
    padding-top: 25px;
}
section .heading{
    top: 0;
    bottom: 0;
    left: 10%;
    right:auto;
    display: flex;
    align-items: center;
    font-size: 50px;
    position:absolute;
    text-align: center;
}
section .section-aboutcontainer{
    margin-left: 50px;
    margin-right: 50px;
}
section .about-img img{
    outline:solid #b5faf4 20px;
    margin: 50px;
    width:80%;
    height: 100%;
}
.section-aboutcontainer{
    display: flex;
    align-items: center;
}
